@page "/Login"
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@inject AuthenticationState AuthState;

<div class="card">
    <EditForm Model="@UserData" OnValidSubmit="@Authenticate" OnInvalidSubmit="@HandleInvalidSubmit" Context="EditFormContext">
        <DataAnnotationsValidator />
        <div class="card-body w-50 align-content-around">
            <DxFormLayout>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxTextBox @bind-Text="@UserData.Username" NullText="Username"ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                    <div class="text-danger">
                        <ValidationMessage For="@(() => UserData.Username)" />
                    </div>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxTextBox @bind-Text="@UserData.Password" NullText="Password" Password="true" ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"/>
                    <div class="text-danger">
                        <ValidationMessage For="@(() => UserData.Password)" />
                    </div>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <DxButton Text="Login" RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true"/>
                </DxFormLayoutItem>
                <DxFormLayoutItem ColSpanMd="12">
                    <div class="text-center pt-2">
                        <div class="tm-8 fs-825">
                            Do not have an account?
                        </div>
                        <DxButton Text="Create an account" RenderStyle="ButtonRenderStyle.Link" Click="GotoRegistrationFormClick" />
                    </div>
                </DxFormLayoutItem>
            </DxFormLayout>
        </div>
    </EditForm>
</div>
<p class="tm-8 cw-480 mt-2 alert">
    @_formSubmitResult
</p>

@code {
    public class AuthenticationState  {
        private readonly HttpClient _httpClient;
        
        public AuthenticationState(HttpClient httpClient) => _httpClient = httpClient;
        
        public event Action? AuthenticationStateChanged;

        internal void OnAuthenticationStateChanged() {
            AuthenticationStateChanged?.Invoke();
        }

        public void Logout() {
            _httpClient.DefaultRequestHeaders.Authorization = null;
            AuthenticationStateChanged?.Invoke();
        }
    }

    string _formSubmitResult = "";
    User UserData { get; } = new();
    void GotoRegistrationFormClick() => _formSubmitResult = "Registration not Implemented";
    private async Task<HttpResponseMessage> RequestTokenAsync(User user) {
        try {
            return await HttpClient.PostAsJsonAsync("Authentication/Authenticate",user);
        }
        catch (Exception) {
            return new HttpResponseMessage(System.Net.HttpStatusCode.BadGateway) { Content = new StringContent("An error occurred during the processing of the request. Please consult the demo's ReadMe file (Step 1,10) to discover potential causes and find solutions.") };
        }
    }
    async Task<string> Authenticate(User user) {
        var tokenResponse = await RequestTokenAsync(user);
        var reposeContent = await tokenResponse.Content.ReadAsStringAsync();
        if (tokenResponse.IsSuccessStatusCode) {
            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", reposeContent);
            AuthState.OnAuthenticationStateChanged();
            return string.Empty;
        }
        return reposeContent;
    }
    async Task Authenticate() {
        _formSubmitResult = await Authenticate(UserData);
        if (_formSubmitResult == String.Empty) {
            NavigationManager.NavigateTo("/grid");
        }
    }

    void HandleInvalidSubmit() => _formSubmitResult = "";

    public class User{
        [Required(ErrorMessage = "The Username value should be specified.")]
        public string? Username { get; set; } 
        public string? Password { get; set; }
    }

}      